body{
    background: #d8d6d6;
}
#heroCarousel {
    padding-top: 100px;
    
}

.carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.carousel-caption {
    z-index: 1;
    /* bottom: 100%; */
    margin-bottom: 30vh;
}

.carousel-caption h1 {
    color: #9e9a79;
}

.carousel-caption p {
    color: #486b68;
}

#button {
    background-color: #486b68;
    color: #9e9a79;
    border: none;
}

#button:hover {
    background-color: #9e9a79;
    color: #486b68;
}

#product-grid {
    padding: 10px 8% 120px;
    width: 100%;
    transition: all 0.3s ease;
}



#product-grid .card {
    cursor: pointer;
    width: 251px;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    background-color: #9e9a79;
}

#product-grid .card img {
    width: 250px;
    height: 200px;
}

/* .overlay img {
    width: 30px;
     height: 30px;
} */

.overlay {
    display: block;
    opacity: 0;
    position: absolute;
    margin-left: 0;
    width: 70px;
}

#product-grid .card:hover .overlay {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s ease;

}

#product-grid .overlay i img {
    background-color: #486b68;
    height: 40px;
    width: 40px;
    font-size: 20px;
    padding: 7px;
    /* margin: -20px; */
    margin-bottom: 5%;
    cursor: pointer;
}

.overlay .btn-secondary {
    background: transparent !important;
    border: none;
    box-shadow: none;
}

#product-grid h3 {
    color: #486b68;
    text-shadow: 1px 1px 1px black;
}

.star .checked {
    color: yellow;
}

#product-grid p {
    color: #486b68;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

#product-grid h6 {
    font-size: 20px;
    color: rgb(206, 79, 79);
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

#product-grid h6 button {
    width: 100px;
    /* height: 26px; */
    font-size: 14px;
    background: transparent;
    /* letter-spacing: 3px; */
    border: 2px solid #486b68;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
    color: #486b68;
    text-shadow: 1px 1px 1px black;
    border-radius: 5px;
    margin-top: 5px;
    /* margin-left: 100px; */
    float: right;
}

#product-grid h6 button:hover {
    background-color: #486b68;
    color: #9e9a79;
}

/*  */


.btn-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    /* gap: 10px; */
    padding: 5px 10px;  
}

.btn-container button:focus {
    box-shadow: none;
    box-sizing: none;
}

.btn-container button {
    
    box-shadow: none;
    text-transform: uppercase;
    border: 1px solid #486b68;
    border-radius: 5px;
    color: #486b68;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
    text-shadow: 0 0 0.9px #264f33;
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: 10px;
    text-align: center;
    flex: 1 1 auto;
}

.btn-container button:hover {
    background-color: #486b68;
    color: white;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .btn-container {
   
    align-items: center;
  }

  .btn-container button {
    width: auto; 
    font-size: 9px;
    margin-left: 0;
    padding: 2px 0px;
  }
}

@media (max-width: 480px) {
  .btn-container button {
    width: 35px;
    font-size: 7px;
    padding: 2px 0px;
    margin-left: 0;
  }
}

/*  */


#about {
    width: 100%;
    margin-top: 100vh;
}

#about .container {
    padding-top: 70px;
    color: #486b68;
    /* color: #f3b307; */
    /* text-shadow: 0 0 1px #264f33; */
}

.heading {
    text-align: center;
    margin-bottom: 50px;
    color: #486b68;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

#about h3 {
    color: #9e9a79;
}

.heading a {
    color: #486b68;
    text-decoration: none;
}

.heading a:hover {
    color: #486b68;
}

.heading span {
    color: #9e9a79;
}

#about .card {
    border-radius: 20px;
}

#about .card img {
    border-radius: 20px;
}

#about-btn {
    width: 200px;
    height: 36px;
    background: transparent;
    text-transform: capitalize;
    border: 2px solid #486b68;
    color: #486b68;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

#about-btn:hover {
    background-color: #9e9a79;
    color: #486b68;
}

@media screen and (max-width:982px){
    #about p {
        font-size: 8px;
    }
}

@media screen and (max-width:766px){
    #about p {
        font-size: 15px;
    } 
}


/*  */

#contact {
    /* width: 100%; */
    cursor: pointer;
}

#contact .heading a {
    color: #d8d6d6;
}

#contact .icon a i {
    color: #d8d6d6;
    text-decoration: none;
    transition: 0.5s;
}

#contact .icon a i:hover {
    transform: translateY(-10px);
    color: black;
}

#contact h4, h5 {
    color: #9e9a79;
}

#contact .container {
    background: linear-gradient(to right, #486b68 30%, #9e9a79);
    border-radius: 20px;
    color: #d8d6d6;
    /* padding: 20px; */
    /* height: 80vh; */
    align-content: center;
}

#contact-form button{
    background: #d8d6d6;
    text-transform: capitalize;
    border: 2px solid #486b68;
    color: #486b68;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 20px;
}

#contact-form button:hover {
    background-color: #486b68;
    color: #d8d6d6;
}

#contact-form {
    width: 50%;
}

#contact .col-12 a, ul li {
    color: #d8d6d6;
    text-decoration: none;
    transition: 0.5s;
}

#contact .col-12 a:hover {
    color: black;
}

#contact .col-12 ul li:hover {
    transform: translateY(-10px);
    color: black;
}

#thank-you-popup {
    transition: opacity 0.5s ease;
}



/*  */

#services {
    background-color: #486b68;
}

#services .card-body {
    background-color: #d8d6d6;
    border-radius: inherit;
}

#services a {
    color: #d8d6d6;
}

#services .heading p {
    color: #d8d6d6;
    font-weight: 400;
    font-size: 20px;
}

#services .card-body h5 {
    color: #486b68;
}

#services .card-body i {
    color: #486b68 !important;
}

/*  */
/*  */

#imageModal .modal {
  display: none;
  /* position: fixed; */
  /* z-index: 9999; */
  /* padding-top: 50px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#imageModal .modal-content {
  display: block;
  margin-top: 50px;
  margin-left: 9%;
  max-width: 80%;
  max-height: 80vh;
  border-radius: 8px;
  box-shadow: 0 0 100px #486b68;
  
}

#imageModal .close {
  position: absolute;
  top: 30px;
  right: 20px;
  color: #d8d6d6;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}


/*  */

#checkout-form .form-control {
    width: 50%;
}
#checkout-form .step {
  transition: all 0.5s ease-in-out;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px 0;
  margin-top: 100px;
}

#checkout-form h4 {
    color: #486b68;
    width: 50%;

}

#checkout-form label {
    color: #486b68;
}

#checkout-form input {
 display: block;
  margin: 10px 0;
  padding: 8px;
  /* width: 50%; */
}

 #shipping-form select {
    width: 50%;
}
#step-1 button:hover {
    background-color: #486b68;
    color: #d8d6d6;
}

#step-2 button:hover {
    background-color: #486b68;
    color: #d8d6d6;
}

#step-1 button {
  padding: 6px 12px;
  margin-right: 10px;
  background: #d8d6d6;
    text-transform: capitalize;
    border: 2px solid #486b68;
    color: #486b68;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 20px;
}

#step-2 button {
  padding: 6px 12px;
  margin-right: 10px;
  background: #d8d6d6;
    text-transform: capitalize;
    border: 2px solid #486b68;
    color: #486b68;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 20px;
}

#checkout-form #total-amount {
    color: rgb(206, 79, 79);
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
